    @import "tailwindcss/base";
    @import "tailwindcss/components";
    @import "tailwindcss/utilities";
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');    

    :root {
        /* Fonts */
        --main-font: 'Taviraj', serif;
        --sub-font: 'Taviraj', serif;
        --text-font: 'Quicksand', sans-serif;
        
        --main-color: #A39B91;
        --accent-color: #7E2323;
        --text-color: #0A090B;
    }
    
    .dark {
        --main-color: #5c5650;
        --accent-color: #9e3a3a;
        --text-color: #f5f5f7;
    }
    
    @layer base {
        body {
        @apply bg-white dark:bg-neutral-900 text-text-color dark:text-text-color-dark;
        font-family: var(--text-font);
        }
        
        h1, h2, h3, h4, h5, h6 {
        font-family: var(--main-font);
        }
        
        h2, .subtitle {
        font-family: var(--sub-font);
        font-weight: 200;
        }
        
        p, li {
        font-family: var(--text-font);
        }
    }

    @layer components {
        .page-container {
            @apply mx-auto px-4 max-w-7xl w-full;

        }
    }
